html {
  background-color: var(--secondary);
  padding: 0 10px;
}

body {
  border-radius: 10px;
  margin-left: -5px;
  /* background-color: var(--primary); */
  font-family: "Open Sans", sans-serif;
}

.player {
  width: 250px;
  height: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

h1 {
  line-height: 1.5rem;
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: normal
}

.player__music {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-family: "Poppins", sans-serif;
}

.player__music__image {
  line-height: 0;
}

.player__music__infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  margin-left: 15px;
}

.player__music__infos p {
  margin: 0;
  padding: 0;
  line-height: 18px;
  color: var(--text-color);
}

.player__music__infos p:first-of-type {
  font-weight: bold;
}
.player__music__infos p:last-of-type {
  font-size: 13px;
}

img {
  height: 50px;
  line-height: 0;
  margin-right: -5px;
  border-radius: 10px 5px 5px 10px;
}
